.number-flip {
  position: relative;
  overflow: hidden;
}

$black: black;

.ctrn {
  color: $black;

  &-init {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
}

.sprtr {
  display: inline-block;
}
