{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension": [0],
    "import/no-unresolved": [0],
    "import/no-extraneous-dependencies": [0],
    "import/extensions": [0],
    "no-console": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "no-underscore-dangle": [0],
    "class-methods-use-this": [0],
    "react/prop-types": [0],
    "react/prefer-stateless-function": [0],
    "react/no-array-index-key": [0],
    "react/no-find-dom-node":[0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "no-nested-ternary": [0],
    "linebreak-style": [0],
    "max-len": [1,240],
    "no-throw-literal": [0],
    "no-mixed-operators":[0],
    "no-return-assign": [0],
    "function-paren-newline": [0],
    "object-curly-newline": [0]
  },
  "env": {
    "browser": true,
    "node": true
  }
}

